
*.pyc
*__pycache__*
*.vim
*.swp
*.swo
*.~

component.xml

xgui/
build/
docs/build
docs/source/*.rst
	
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.log
docs/*.toc
docs/*.pdf
docs/*.out
docs/diagrams/*.eps
docs/diagrams/*.pdf


work/*
